.hero {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.neon {
  font-size: clamp(2.5rem, 5vw, 5rem);
  white-space: nowrap;
  animation: blink 1s steps(2, start) infinite;
}

.cursor {
  color: var(--neon-secondary);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
